<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Default">
    <div class="card mb-4">
        <div class="card-header">

            <f:if condition="{entry.tstamp}">
                <small class="text-muted">
                    <f:format.date format="{f:translate(key:'dateTimeFormat')}">{entry.tstamp}</f:format.date>
                </small>
            </f:if>

        </div>

        <div class="card-body">

            <f:if condition="{entry.image}">
                <ce:link.clickEnlarge image="{entry.image.originalResource}" configuration="{settings.media.popup}">
                    <f:image image="{entry.image}" maxWidth="400" class="img-fluid" />
                </ce:link.clickEnlarge>
            </f:if>

            <f:format.html>{entry.message -> f:format.nl2br()}</f:format.html>
        </div>
    </div>
</f:section>


</html>
